.box{
    background-color: white;
    width: 100px;
    float: left;
    border-radius: 10px;
    text-align: center;
    margin-right: 20px;
}

.box2{
    width: 200px;
    height: 50px;
    padding: 10px auto 10px;

}

.card{
    background-color: rgb(10, 224, 224);
    width: 30%;
    height: 150px;
    float: left;
    text-align: center;
    font-size: 14px;

}
.card2{
    background-color: rgb(4, 131, 131);
    width: 25%; 
    height: 150px;
    float: left;
    text-align: center;
    font-size: 14px;
}
.card3{
    background-color:rgb(1, 99, 99);
    width: 45%;
    height: 150px;
    float: left;
    text-align: center;
    font-size: 14px;
}

.contect{
    width: 500px    ;
    height: auto;
    
}

.container{
    background-color: rgb(114, 113, 113);
    width: 800px;
    height: 150px;
    margin: 30px auto 10px;
    text-align: center;
}

.clear {
    clear: both;
}

.box3{
    margin: 60px auto 0;
}

  

/*<div class="container">
        
        <div class="box2"><p>Search the web using Google!</p></div>
        <div></div>
        <div class="box">Google Search</div>
        <div class="box">I'm feeling lucky</div>
        
    </div>




    <div class="contect">
        <div class="card" > 
            <p><a href="www.google.com.tr">Special Searches</a></p><br>
            <p><a href="www.google.com.tr">Stanford Search</a></p><br>
            <p><a href="www.google.com.tr">Linux Search</a></p><br>
        </div>
        <div class="card2">
            <p><a href="www.google.com.tr">Help!</a></p><br>
            <p><a href="www.google.com.tr">About Google!</a></p><br>
            <p><a href="www.google.com.tr">Company Info</a></p><br>
            <p><a href="www.google.com.tr">Google! logos</a></p><br>
        </div>
        <div class="card3">
            <p><a href="www.google.com.tr">Get Google!</a></p><br>
            <p><a href="www.google.com.tr">updates monthly:</a></p><br>
            <div style="width: 150px; padding: 10px auto 10px ;">your e-mail</div>
            <div class="box">Subscribe</div>
            <div class="box">Archive</div>
        </div>
    </div>


    <div style="background-color: blue; width: 400px; text-align: center;">Lorem, ipsum.
    </div>

    <div style="background-color: red;width: 400px; text-align: center;">Lorem, ipsum.</div> 
